<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppCategorie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>tn.essat.controller.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verif</display-name>
    <servlet-name>Verif</servlet-name>
    <servlet-class>tn.essat.controller.Verif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verif</servlet-name>
    <url-pattern>/Verif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterProd</display-name>
    <servlet-name>AjouterProd</servlet-name>
    <servlet-class>tn.essat.controller.AjouterProd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterProd</servlet-name>
    <url-pattern>/AjouterProd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterCat</display-name>
    <servlet-name>AjouterCat</servlet-name>
    <servlet-class>tn.essat.controller.AjouterCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterCat</servlet-name>
    <url-pattern>/AjouterCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCat</display-name>
    <servlet-name>SaveCat</servlet-name>
    <servlet-class>tn.essat.controller.SaveCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCat</servlet-name>
    <url-pattern>/SaveCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveProd</display-name>
    <servlet-name>SaveProd</servlet-name>
    <servlet-class>tn.essat.controller.SaveProd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveProd</servlet-name>
    <url-pattern>/SaveProd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeProd</display-name>
    <servlet-name>ListeProd</servlet-name>
    <servlet-class>tn.essat.controller.ListeProd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeProd</servlet-name>
    <url-pattern>/ListeProd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeCat</display-name>
    <servlet-name>ListeCat</servlet-name>
    <servlet-class>tn.essat.controller.ListeCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeCat</servlet-name>
    <url-pattern>/ListeCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>tn.essat.controller.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
</web-app>